<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/Designer.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body>
      <!---navebar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
          <!--i can put logo-->   
            Finding.in</a>
       <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class=" navbar-expand" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="/about">About us</a>
              <a class="nav-link active" href="tel:+916002976805">Contact us</a>
          
            </div>
          </div>
        </div>
      </nav>
<div class="about"> 
 <h2>About us</h2>
<p>Welcome to our platform! We are passionate about connecting people with the services they need.We believe that everyone deserves access to quality services, whether it’s finding the perfect tutor, indulging in a scrumptious cake, enhancing their beauty, or discovering a cozy hostel. Our platform is the bridge that brings service providers and seekers together.</p>
  <h2>Our story</h2> 
  <p>Our journey began with a simple idea: bridging the gap between service providers and seekers. We envisioned a space where expertise meets demand, where connections flourish, and where everyone benefits. From that spark of inspiration, our platform was born.</p>
  <h2>What We Offer</h2> 
  <ul>
    
  
  <li>Tutors <br>
<p> Are you a student seeking personalized guidance? Or perhaps an adult looking to learn a new skill? Our network of experienced tutors covers a wide range of subjects. Whether it’s academic support, language learning, or hobby-based lessons, we’ve got the right tutor for you.</p>

  </li> 
 
  <li>Cakes <br>
  <p> Life’s sweet moments deserve equally sweet treats! Our talented cake owners create delightful confections for birthdays, weddings, and every celebration in between. From classic flavors to custom designs, explore a world of sugary delights.</p>

  </li>
 
  <li> Beauticians <br>
  <p>Looking to enhance your natural beauty? Our beauticians specialize in skincare, makeup, hair styling, and more. Whether it’s a special occasion or your everyday glow, they’ll make you feel fabulous.</p>
  </li>
  
  <li>Hostels <br>
  <p>Traveling soon? Our curated list of hostels ensures a comfortable stay wherever you go. From cozy dorms to private rooms, find accommodations that fit your budget and preferences.</p>

  </li> 
  
</ul>
 <h2> Our Values</h2>
 <h4>At our core, we believe in:</h4> 
  <ul>
<li> Accessibility: Everyone deserves access to quality services.</li>
<li>Community: We’re more than a platform; we’re a supportive community.</li>
<li>Transparency: Honesty and openness guide our interactions.</li>
<li>Empowerment: We empower service providers and seekers alike.</li>
  </ul>
 
 <h4>Get in Touch</h4>
  
 <p> Have questions, feedback, or just want to say hello? Reach out to us via email or connect on social media.
  
  Thank you for being part of our story!
</p>
</div>


 
   <div class="footer-basic">
    <footer>
        <div class="social ic">
          <a href="https://www.instagram.com/wantdoor24"><i class="icon ion-social-instagram" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
        
          <a href="https://api.whatsapp.com/send?phone=+919954569181&text=Welcome"><i class="icon  ion-social-whatsapp" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
          <a href="https://www.facebook.com/wantdoor"><i class="icon ion-social-facebook" style="font-size: 2rem; color:  rgb(218, 22, 142);"></i></a>
        </div>
        <ul class="list-inline link">
            <li class="list-inline-item"><a href="/login">Login</a></li>
            <li class="list-inline-item"><a href="/signin">Be a partner</a></li>
            <li class="list-inline-item"><a href="tel:+916002976805">Contact us</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">&COPY;Finding.in:2024</p>
    </footer>
</div>
</body>
</html>