
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/Designer.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body>
      <!---navebar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
          <!--i can put logo--> 
            
            Finding.in</a>
       <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class=" navbar-expand" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="/about">About us</a>
              <a class="nav-link active" href="tel:+916002976805">Contact us</a>
          
            </div>
          </div>
        </div>
      </nav>
   <!--slide or main topic --> 
  <div class="header">
   <div class="mainbox">
   <h1>Welcome to Finding.com</h1>
  <p class="infoone">We are providing a platform where you can find your need.</p>
  
  </div>
  </div>

   <!--collection card-->
 <div class="maincontent">
    <div class="row row-cols-md-2 g-4 row-cols-sm-2">
        <div class="col">
          <div class="card  wid" >
            <img src="images/tutor.jpg" class="card-img-top" alt="a boy with girl infront of white board">
            <div class="card-body">
              <h5 class="card-title">Tutors</h5>
              <p class="card-text tex">Find your tutors for your subject. You will find different subjects tutors or even tuition center.</p>
              <a href="/tutor" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  wid" >
            <img src="images/cake.jpg" class="card-img-top" alt="a man celebrating his birthday by himself.">
            <div class="card-body">
              <h5 class="card-title">Cake</h5>
              <p class="card-text tex">You will find different cake makers who can provide your desired cake.</p>
              <a href="/cake" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  wid" >
            <img src="images/beauty.jpg" class="card-img-top" alt="a girls take mehendi">
            <div class="card-body">
              <h5 class="card-title">Beautician</h5>
              <p class="card-text tex">Want someone who is good at makeup or knows how to make mehendi? Then come here.</p>
              <a href="/beauty" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  wid" >
            <img src="images/hostelone.jpg" class="card-img-top" alt="Home picture mostly hostel">
            <div class="card-body">
              <h5 class="card-title">Rent home/hostel</h5>
             
             <p class="card-text tex">Looking for hostel, you can search here.You will find many options with good facilities.</p>
             <a href="/hostel" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
      </div>



 </div>

   <!--Footer card-->

   <div class="footer-basic">
    <footer>
        <div class="social ic">
          <a href="https://www.instagram.com/wantdoor24"><i class="icon ion-social-instagram" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
        
          <a href="https://api.whatsapp.com/send?phone=+919954569181&text=Welcome"><i class="icon  ion-social-whatsapp" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
          <a href="https://www.facebook.com/wantdoor"><i class="icon ion-social-facebook" style="font-size: 2rem; color:  rgb(218, 22, 142);"></i></a>
        </div>
        <ul class="list-inline link">
            <li class="list-inline-item"><a href="/login">Login</a></li>
            <li class="list-inline-item"><a href="/signin">Be a partner</a></li>
            <li class="list-inline-item"><a href="tel:+916002976805">Contact us</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">&COPY;Finding.in:2024</p>
    </footer>
</div>
</body>
</html>