<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/Designer.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body>
      <!---navebar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
          <!--i can put logo-->   
            Finding.in</a>
       <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class=" navbar-expand" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="about">About us</a>
              <a class="nav-link active" href="mailto:Karkhajetlin@gmail.com">Contact us</a>
          
            </div>
          </div>
        </div>
      </nav>
<div class="privacy">
   <h2> Privacy Policy</h2>
<p>At our website , we take your privacy seriously. This policy outlines how we collect, use, and protect your information. Please read it carefully.</p>


<h2>1. Information We Collect</h2>
<h4>Service Providers (Cake Owners, Tutors, Beauticians, Hostel Owners)</h4>
 <p>When service providers list their offerings on our platform, we collect the following information:</p>   
<ul>
    <li>Contact Details: Name, phone number, whatsapp number and location. </li>
    <li>Business Information: Description, services offered, pricing, location.</li>
    <li>Profile Photos: To personalize their listings.</li>
</ul>


<h2>Service Seekers (Customers)</h2>
<p>As a service seeker, you can browse listings without providing personal information. However, if you choose to contact a service provider, you may voluntarily share your name and email address.</p>
<h2>2. How We Use Your Information</h2>
<ul>
<li>Listing Display: We display service providers’ information publicly to connect them with potential customers.</li>
<li>Communication: We use contact details to facilitate communication between service seekers and providers.</li>
<li>Improvement: We analyze data to enhance our platform and user experience.</li>
</ul>

<h2>3. Data Security</h2>
<p>We implement industry-standard security measures to protect your information. However, please note that no method of transmission over the internet is 100% secure.</p>

<h2>4. Third Parties</h2>
<p>We do not sell, trade, or share your personal information with third parties. However, service providers’ public listings are accessible to all users.</p>
<h2>5. Your Choices</h2>

<ul>
    <li>Editing Listings: Service providers can update their information anytime.</li>
    <li>Opt-Out: You can choose not to provide personal details when browsing listings.</li>
</ul>

<h2>6. Changes to this Policy</h2>
<!--Contact Us: If you have any privacy-related concerns, reach out to us at privacy@yourwebsite.com.-->
<p>We may update this policy periodically. Check back for the latest version.</p>

<p>Thank you for trusting us. Together, we’re building a community of service excellence!</p>

</div>











      <div class="footer-basic">
        <footer>
            <div class="social ic">
              <a href="https://www.instagram.com/wantdoor24"><i class="icon ion-social-instagram" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
            
              <a href="https://api.whatsapp.com/send?phone=+919954569181&text=Welcome"><i class="icon  ion-social-whatsapp" style="font-size: 2rem; color: rgb(218, 22, 142);"></i></a>
              <a href="https://www.facebook.com/wantdoor"><i class="icon ion-social-facebook" style="font-size: 2rem; color:  rgb(218, 22, 142);"></i></a>
            </div>
            <ul class="list-inline link">
                <li class="list-inline-item"><a href="/login">Login</a></li>
                <li class="list-inline-item"><a href="/signin">Be a partner</a></li>
                <li class="list-inline-item"><a href="mailto:Karkhajetlin@gmail.com">Contact us</a></li>
                <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">&COPY;Finding.in:2024</p>
        </footer>
    </div>
    </body>
    </html>